@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4daf54;

}

body {
    height: 100px;
    background: linear-gradient(to right, #2ecc71, #3d8880);
    font-family: "Poppins";
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #2c3e50;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.card__heart,
.card__cart {
    color: azure;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15 px;
}

.card__cart {
    left: unset;
    right: 20px;
}

.card__img {
    width: 90%;
    transition: 0.5s;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__product,
.card__price {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;

}

.card__product {
    color: var(--primary-color);
}

.card__price {
    color: white;
}

.card__size,
.card__color {
    display: flex;
    color: white;
    align-items: center;
    margin-bottom: 15px;
}

.card__size span {
    padding: 2px 10px;
    background-color: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 5px;
}

.card__color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;

}

.card__color_green {
    background: green;
    display: flex;
}

.card__color_orange {
    background: #f84848;
    display: flex;

}

.card__color_blue {
    background: blue;
    display: flex;

}

.card__action button {
    background: var(--primary-color);
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

.card__action button:hover {
    transform: scale(0.9);
}

.card:hover .card__img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card__product {
    transform: translate(-38px, -72px);
}

.card:hover .card__price {
    transform: translate(-115px, -72px);
}

.card__size {
    margin-top: 150px;
}

.card__size,
.card__color,
.card__action {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action {
    visibility: visible;
    opacity: 100;
    transition: 0.5s;
}

.card:hover .card__size {
    margin-top: -30px;
}